/* * * * * * * * * * * * * * *
  Layout specific declarations
* * * * * * * * * * * * * * * */

header{
  background: $nav-color;
  color: $light-color;
  .logo{
    width: 180px;
    margin: 0 auto;
    display: block;
  }
}

footer{
  color: $light-color;
  background: $nav-color;
  height: 50px;
  padding: 15px;
}

.homepage{
  width: 100%;
  height:auto;
  margin-bottom: 100px;
}